


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProyectoDistribuidora</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @*Menu opciones*@
    <header class="img-fluid" id="imagenback">

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3">
            <div class="container-fluid" style="padding:60px">
                <div>
                    @*Boton del menun*@
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="nav navbar-nav flex-grow-1">
                        @*Items del menú de opciones*@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="" asp-action="">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Productos" asp-action="Create">Productos</a>
                        </li>

                        @if (User.Identity.IsAuthenticated && User.IsInRole("1"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Proveedores</a>
                                @*Sumbmenu opciones para agregar o ver lista de Usuarios*@
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link " asp-controller="Proveedores" asp-action="CrearProveedor">Crear Proveedor</a>
                                    <a class="dropdown-item nav-link" asp-controller="Proveedores" asp-action="ListaProveedores">Lista Proveedores</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Productos</a>
                                @*Sumbmenu opciones para agregar o ver lista de Productos*@
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link " asp-controller="" asp-action="">Crear Producto</a>
                                    <a class="dropdown-item nav-link" asp-controller="Productos" asp-action="ListaProductos">Lista Productos</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Usuarios</a>
                                @*Sumbmenu opciones para agregar o ver lista de Usuarios*@
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link " asp-controller="Login" asp-action="CrearCuenta">Crear Usuario</a>
                                    <a class="dropdown-item nav-link" asp-controller="Login" asp-action="ListaUsuarios">Lista Usuarios</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link " asp-area="" asp-controller="" asp-action="">Bitácora</a>
                            </li>
                            <li class="nav-item dropdown ml-auto">
                                @*Sumbmenu opciones para Sesion de Inicio Ya el usuario está autentificado*@
                                <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item nav-link  " asp-controller="Login" asp-action=""> Cambiar Contraseña</a>
                                    <a class="dropdown-item nav-link " asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
                                </div>
                            </li>
                        }
                        else
                        {

                            @if (User.Identity.IsAuthenticated && User.IsInRole("2"))
                            {
                                @*Lista Ventas, solo el gerente puede ver esta opción*@
                                <li class="nav-item">
                                    <a class="nav-link " asp-area="" asp-controller="" asp-action="">Lista Ventas</a>
                                </li>
<<<<<<< HEAD
                            }
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item dropdown ml-auto">
                                    @*Sumbmenu opciones para Sesion de Inicio Ya el usuario está autentificado*@
                                    <a class="nav-link dropdown-toggle  ml-auto" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item nav-link text-black-50 " asp-controller="Login" asp-action=""> Cambiar Contraseña</a>

                                        <a class="dropdown-item nav-link text-black-50" asp-controller="Login" asp-action="Logout">Logout</a>

                                        <a class="dropdown-item nav-link text-black-50" asp-controller="Login" asp-action="Logout">Cerrar secion</a>

                                    </div>
                                </li>
                            }
                            else
                            {
                                @*Sumbmenu opciones para Sesion de Inicio y no está autentificado todavía*@
                                <li class="nav-item dropdown ml-auto">
                                    <a class="nav-link dropdown-toggle  ml-auto" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Tú Cuenta</a>

                                    <div class="dropdown-menu">
                                        <a class="dropdown-item nav-link text-black-50 " asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                                        <a class="dropdown-item nav-link text-black-50" asp-controller="Login" asp-action="CrearCuenta">Registrarse</a>
                                    </div>
                                </li>
                            }

                        }
=======

                                @*Carrito*@
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="" asp-action="">Carrito</a>
                                </li>
                                <li class="nav-item dropdown ml-auto">
                                    @*Sumbmenu opciones para Sesion de Inicio Ya el usuario está autentificado*@
                                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item nav-link  " asp-controller="Login" asp-action=""> Cambiar Contraseña</a>
                                        <a class="dropdown-item nav-link " asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>
                                    </div>
                                </li>
                            }
                            else
                            {

                                @if (User.Identity.IsAuthenticated)
                                {
                                    @*Carrito*@
                                    <li class="nav-item">
                                        <a class="nav-link" asp-area="" asp-controller="" asp-action="">Carrito</a>
                                    </li>
                                    <li class="nav-item dropdown ml-auto">
                                        @*Sumbmenu opciones para Sesion de Inicio Ya el usuario está autentificado*@
                                        <a class="nav-link dropdown-toggle  ml-auto" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item nav-link text-black-50 " asp-controller="Login" asp-action=""> Cambiar Contraseña</a>

                                            <a class="dropdown-item nav-link text-black-50" asp-controller="Login" asp-action="Logout">Cerrar Sesión</a>

                                        </div>
                                    </li>

                                }
                                else
                                {
                                    @*Sumbmenu opciones para Sesion de Inicio y no está autentificado todavía*@
                                    <li class="nav-item dropdown ml-auto">
                                        <a class="nav-link dropdown-toggle  ml-auto" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">Tú Cuenta</a>

                                        <div class="dropdown-menu">
                                            <a class="dropdown-item nav-link text-black-50 " asp-controller="Login" asp-action="Index">Iniciar Sesión</a>
                                            <a class="dropdown-item nav-link text-black-50" asp-controller="Login" asp-action="CrearCuenta">Registrarse</a>
                                        </div>
                                    </li>
                                }@*Fin del if para Cliente*@
                            }@*Fin del if para Gerente*@

                        }@*Fin del if para Administrador*@
>>>>>>> 4292ca251bc64c7aa9f4ea0d1b33deb65670710c
                    </ul>
                </div> 
            </div>
        </nav>
    </header>
    <div id="box_lista">

        @RenderBody()

    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - ProyectoDistribuidora - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
